<script type="text/template" id="prizeList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Nombre</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(prizes, function(prize) { %>
    <tr>
		<td><%= htmlEncode(prize.getDisplay('name')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-prize-edit',{id:<%= prize.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-prize-delete',{id:<%= prize.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="prize">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-prizeForm">
    <% if(prize.id) {%>
    <input type="hidden" name="id" value="<%= prize.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese datos" value="<%= prize.get('name') %>"/>	
		</div>
    </form>
    </div>
</script> 