<script type="text/template" id="refereeList">
    <div class="panel panel-default">
    <!-- Default panel contents -->
    <table class="table striped">
    <thead>
    <tr>
		 <th>Años de experiencia</th>
		 <th>Nombre</th>
		 <th>Primer apellido</th>
		 <th>Segundo apellido</th>
		 <th>Fecha de nacimiento</th>
		 <th>Disponibilidad</th>
		 <th>Numero docuemento</th>
    <th>Acciones</th>
    </tr>
    </thead>
    <tbody>
    <% _.each(referees, function(referee) { %>
    <tr>
		<td><%= htmlEncode(referee.getDisplay('ageOfExpirience')) %></td>
		<td><%= htmlEncode(referee.getDisplay('name')) %></td>
		<td><%= htmlEncode(referee.getDisplay('firstName')) %></td>
		<td><%= htmlEncode(referee.getDisplay('lastName')) %></td>
		<td><%= htmlEncode(referee.getDisplay('birthDate')) %></td>
		<td><%= htmlEncode(referee.getDisplay('enable')) %></td>
		<td><%= htmlEncode(referee.getDisplay('docNumber')) %></td>
    <td>
    <% if(showEdit) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-referee-edit',{id:<%= referee.id %>}); return false" >Editar</a> |
	<% } %> 
	<% if(showDelete) {%>
    <a onclick="Backbone.trigger('<%= componentId %>-referee-delete',{id:<%= referee.id %>}); return false" >Eliminar</a> 
	<% } %>    
	</td>
    </tr>
    <% }); %>
    </tbody>
    </table>
    </div>
</script>

<script type="text/template" id="referee">
    <div class="form-group">
    <form role="form" id="<%= componentId %>-refereeForm">
    <% if(referee.id) {%>
    <input type="hidden" name="id" value="<%= referee.id %>"/>
    <% }%>
		<div class="form-group" >
		<label for="ageOfExpirience">Años de experiencis</label>
    	<input type="text" class="form-control" id="ageOfExpirience" name="ageOfExpirience" placeholder="Ingrese datos" value="<%= referee.get('ageOfExpirience') %>"/>	
		</div>
		<div class="form-group" >
		<label for="name">Nombre</label>
    	<input type="text" class="form-control" id="name" name="name" placeholder="Ingrese datos" value="<%= referee.get('name') %>"/>	
		</div>
		<div class="form-group" >
		<label for="firstName">Primer apellido</label>
    	<input type="text" class="form-control" id="firstName" name="firstName" placeholder="Ingrese datos" value="<%= referee.get('firstName') %>"/>	
		</div>
		<div class="form-group" >
		<label for="lastName">Segund apellido</label>
    	<input type="text" class="form-control" id="lastName" name="lastName" placeholder="Ingrese datos" value="<%= referee.get('lastName') %>"/>	
		</div>
		<div class="form-group" >
			<label for="birthDate">Fecha de nacimineto</label>
    		<input type="text" data-converter="date" data-date-format="dd/mm/yyyy" class="form-control" id="birthDate"  name="birthDate" placeholder="Ingrese fecha" />
    		<%= '<scr'+'ipt>' %>
        	$('#birthDate').datepicker({autoclose:true});
        	$('#birthDate').datepicker('setDate',App.Utils.Converter.date.toDate("<%= referee.get('birthDate') %>"));
    		<%= '</scr'+'ipt>' %>
		</div>
		<div class="form-group" >
	    <label>
    	  <input id="enable" name="enable" value="true" type="checkbox" <%= referee.get('enable')?'checked':'' %>> Disponibilidad
    	</label>
		</div>
		<div class="form-group" >
		<label for="docNumber">Numero documento</label>
    	<input type="text" class="form-control" id="docNumber" name="docNumber" placeholder="Ingrese datos" value="<%= referee.get('docNumber') %>"/>	
		</div>
    </form>
    </div>
</script> 